@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  left: 0;
  right: 0;
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.abcenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.back {
  background-image: url("/src/assets/back.png");
  background-size: cover;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #03aa77;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #03aa77;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #03aa77;
  border-radius: 20px;
}

::-moz-scrollbar-thumb {
  background-color: #03aa77;

}
